html {
  height: 100vh;
}

body {
  margin: 0 0;
  padding: 0 0;
  height: 100%;
}

.section {
  /* min-width: 400px;
  width: 100vw; */
  text-align: center;
}

#scrollable-container {
  /* overflow: auto; */

  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
}

.content-container {
  height: 100%;
  width: 100%;
  margin: auto;
  /* background-color: white; */
  opacity: 0.5;
}

#navbar-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 1;
  /* background-color: yellowgreen; */
}

#navbar-section .content-container {
  display: inline-block;
}

#header-section {
  /* background-color: #ff7a85; */
  height: 50px;
}

/* #data-section {
  background-color: #62c4c4;
  height: 100%;
} */

#footer-section {
  /* background-color: #fced05; */
  background-color: rgba(0, 0, 0, 0.7);
  height: 15rem;
}
